%div.app_wrapper
  %div.tenant_show
    .row
      .col-lg-10         
        .panel.panel-info
          .panel-heading
            .panel-title
              Add Actual Unit
          .panel-body
            .text-muted
              %strong
                Step 4: Edit Pricings
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width:100%"}
                Step 4 / 4
            = render partial: "pricings_form"