.page-header
  = link_to development_area_building_path(@building.development_area, @building), :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 Editing unit_template

= render 'form'
